<h2 id="howWeWork-title">HOW WE WORK</h2>

<div id="howWeWorkElContainer">
  <div id="idea" class="howWeWorkEl">
    <%- partial("./idea") %>
  </div>

  <div id="scoping" class="howWeWorkEl">
    <%- partial("./scoping") %>
  </div>

  <div id="build" class="howWeWorkEl">
    <%- partial("./build") %>
  </div>

  <div id="release" class="howWeWorkEl">
    <%- partial("./release") %>
  </div>

  <div id="maintain" class="howWeWorkEl">
    <%- partial("./maintain") %>
  </div>
</div>

<div id="howWeWorkContContainer">
  <div class="howWeWorkContent">
    <%- partial("../_content/howWeWork/idea") %>
  </div>
  <div class="howWeWorkContent hidden">
    <%- partial("../_content/howWeWork/scoping") %>
  </div>
  <div class="howWeWorkContent hidden">
    <%- partial("../_content/howWeWork/build") %>
  </div>
  <div class="howWeWorkContent hidden">
    <%- partial("../_content/howWeWork/release") %>
  </div>
  <div class="howWeWorkContent hidden">
    <%- partial("../_content/howWeWork/maintain") %>
  </div>
</div>
