<%- partial("../_content/howWeWork/index") %>

<div id="howWeWorkElements">
  <div id="idea">
    <%- partial("./idea") %>
  </div>

  <div id="scoping">
    <%- partial("./scoping") %>
  </div>

  <div id="build">
    <%- partial("./build") %>
  </div>

  <div id="release">
    <%- partial("./release") %>
  </div>

  <div id="maintain">
    <%- partial("./maintain") %>
  </div>
</div>
