<main>
  <section id="home-tag" class="intro section">
    <%- partial("_content/intro") %>
  </section>

  <section id="who-are-we-tag" class="whoAreWe section">
    <%- partial("_whoAreWe/index") %>
  </section>

  <section id="how-we-work-tag" class="howWeWork section">
    <%- partial("_howWeWork/index") %>
  </section>

  <section id="portfolio-tag" class="portfolio section">
    <%- partial("_portfolio/index") %>
  </section>

  <section id="contact-tag" class="contact section">
    <%- partial("_contact/index") %>
  </section>
</main>
