<main>
  <span id="home"></span>
  <section class="intro section" id="home">
    <%- partial("_content/intro") %>
  </section>

  <span id="who-are-we"></span>
  <section class="whoAreWe section">
    <%- partial("_whoAreWe/index") %>
  </section>

  <span id="how-we-work"></span>
  <section class="howWeWork section">
    <%- partial("_howWeWork/index") %>
  </section>

  <span id="portfolio"></span>
  <section class="portfolio section">
    <%- partial("_portfolio/index") %>
  </section>

  <span id="contact"></span>
  <section class="contact section">
    <%- partial("_contact/index") %>
  </section>
</main>

